<article class="video_card">
    <figure class="video_img_container">
        <img src="<%= thumbnailUrl %>" alt="xhamster, <%= title %> ">
        <p class="video_time"><%= time %></p>
    </figure>
    <figcaption>
        <h2><%= title %></h2>
    </figcaption>
</article>