:root {
  --bg: #202020;
  --border: rgba(128, 128, 128, 0.415);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
  font-size: 16px;
  max-width: 100%;
  color: white;
}

html{
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

.red{
  color: red;
}
.text-small{
  font-size: 10px;
}
.gold{
  color:orange;
}
.pink{
  color:rgb(219 39 119);
}
body{
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}


/* Header */

.header {
  width: 100%;
}

#pc_nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
}

#pc_nav .logo {
  width: 250px;
}


#pc_nav #search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width:fit-content;
}

#pc_nav #search_container input {
  width: 30vw;
  background-color: var(--bg);
  border: 1px solid var(--border);
  padding:10px 10px 10px 20px;
  border-radius: 40px;
  color: white;
  transition: width 0.5s ease-in-out; 
}

#pc_nav #search_container input::placeholder {
  color: rgba(255, 255, 255, 0.623);
}

#pc_nav #search_container input:focus {
  outline: none;
  width: 40vw;
}

#pc_nav #search_container i {
  position: absolute;
  right: 0;
  background-color: var(--bg);
  border: none;
  padding: 10px;
  margin-right: 10px;
}

#pc_nav #search_container i:hover {
  cursor: pointer;
  color: red;
}

#pc_nav #auth_links_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pc_nav #auth_links_container #login_btn {
  background-color: var(--bg);
  border: 1px solid var(--border);
  padding: 10px 20px;
  border-radius: 40px;
  margin-right: 10px;
}

#pc_nav #auth_links_container #login_btn:hover {
  background-color: rgba(128, 128, 128, 0.415);
  text-decoration: underline;
}

#pc_nav #auth_links_container #signup_btn {
  background-color:rgb(219 39 119);
  border: 1px solid var(--border);
  padding: 10px 50px;
  border-radius: 40px;
}

#pc_nav #auth_links_container #signup_btn:hover {
  background-color:rgba(219, 39, 120, 0.665);
  text-decoration: underline;
}

#mobile_nav{
  display: none;
}

#header_links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  background: #000;
}

i{
  text-align: center;
}

#header_links a:hover{
  text-decoration: underline;
}

@media (max-width: 480px) {
  #pc_nav {
   display: none;
  }
  #mobile_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
  }
  #mobile_nav .logo {
    width: 50%;
  }
  #mobile_nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
  #mobile_nav ul li {
    list-style: none;
  }
  #mobile_nav ul li i {
    font-size: 20px;
    margin-right: 4px;
  }
  #header_links{
    width: 100%;
    flex-wrap: nowrap;
  padding:0px;
    overflow-x:scroll;
    gap: 10px;
  }
  #header_links a{
    white-space: nowrap;
    padding:5px 10px;
  }
}

